@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0%;
  margin: 0%; }

header {
  padding: 0%;
  margin: 0%; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to right, #0C1555 10%, #44496B 50%, #9BA1C9 100%);
  background-repeat: no-repeat;
  background-size: cover; }
  body main {
    padding-top: 92px;
    color: white;
    font-family: 'Poppins', Arial; }

.tittleGame img {
  width: 100%; }

.crazy {
  margin: 20px;
  display: flex;
  justify-content: center; }
  .crazy h1:hover {
    transition: 500ms;
    width: 250px;
    border-radius: 16px; }
  .crazy a {
    text-decoration: none;
    color: #df4b07; }
  .crazy h1 a {
    text-decoration: none;
    color: #df4b07; }

.button-29 {
  width: 60%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px; }

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset; }

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px); }

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px); }

.swiper {
  margin: 20px; }
  .swiper .swiper-slide img {
    width: 90%;
    border-radius: 7px; }

.swiper .swiper-slide {
  display: flex;
  justify-content: center; }

.swiper-slide img {
  width: 100%; }

.swiper-button-next::after, .swiper-button-prev::after {
  display: none; }

.information {
  margin: 0 8px; }
  .information h4, .information #dots {
    font-size: 11px;
    filter: opacity(60%); }
  .information button {
    background: transparent;
    border: none;
    color: white; }

#more {
  display: none; }

.space {
  margin-left: 8px;
  font-size: 20px; }

footer {
  margin-top: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px -10px 20px 0px #0c1555;
  -moz-box-shadow: 0px -10px 20px 0px #0c1555;
  box-shadow: 0px -10px 20px 0px #0c1555; }

footer .redes {
  display: flex;
  justify-content: center;
  gap: 30px; }

footer .redes i {
  color: white; }

.des {
  margin-left: 20px;
  padding-top: 20px; }
  .des h1 {
    font-size: 22PX; }

.img__cata {
  display: flex;
  justify-content: center; }
  .img__cata img {
    width: 90%;
    border-radius: 10px; }

@media (min-width: 600px) and (max-width: 4000px) {
  .outroSwiper {
    width: 40% !important; }

  .swiper__flex {
    display: flex; } }
.plans__center {
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*# sourceMappingURL=pagesGame.css.map */
